<app-header> </app-header>

<div class="conteiner">
    <app-card routerLink="/simulados"
        titulo="Simulados " 
        descricao="Use os conhecimentos adquirido no curso e simule a rotina da prova e veja sua nota seguindo todos os critérios utilizados pelo IF." 
        srcIcone="./simulados.png"></app-card>
    <app-card routerLink="/planos-estudo"
        titulo="Planos de  Estudos"
        descricao="Siga um plano de estudo que adeque-se com sua rotina!"
        srcIcone="./plano.png"
    ></app-card>
    
    <app-card routerLink="/disciplinas"
    titulo="Aulas de todas disciplinas"
    descricao="Tenha acesso a videos aulas de cada disciplina de acordo com seu plano de estudo."
    srcIcone="./aula.png"
    ></app-card>
</div>