<app-header> </app-header>

<div class="conteiner">
    <app-card 
        titulo="Simulados " 
        descricao="Use os conhecimentos adquirido no curso e simule a rotina da prova e veja sua nota seguindo todos os critérios utilizados pelo IF" 
        srcIcone="./simulados.png"></app-card>
    <app-card
        titulo="Planos de  Estudos"
        descricao="Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ut quibusdam sed in officia hic dolores a, voluptatem velit suscipit odio animi, magni error asperiores sint veritatis, incidunt quia voluptatum."
        srcIcone="./simulados.png"
    ></app-card>
    
    <app-card
    titulo="Aulas de todas disciplinas"
    descricao="Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ut quibusdam sed in officia hic dolores a, voluptatem velit suscipit odio animi, magni error asperiores sint veritatis, incidunt quia voluptatum."
    srcIcone="./simulados.png"
    ></app-card>
</div>