<div class="container flex-column">
    <h1>{{planoEstudoCarregado?.titulo}} - {{planoEstudoCarregado?.horasDuracao}}h</h1>
    <h2>{{planoEstudoCarregado?.descricao}}</h2>
    <h2>Arcos: </h2>
    <ul>
        <li *ngFor="let subItem of planoEstudoCarregado?.subtitulos; let i = index">
            <p>{{subItem.titulo}}</p>
            <p>{{subItem.descricao}}</p>

            <div *ngIf="subItem.videoUrl">
                <h6>Assista ao vídeo sobre {{subItem.titulo}}:</h6>
                <iframe width="656" height="369" [src]="subItemVideoUrls[i]"
                    title="{{subItem.titulo}} | YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>

        </li>
    </ul>
    <h3>Conteúdos do plano:</h3>
    <ul>
        <li *ngFor="let disciplina of disciplinas">
            <a class="sem-cor" routerLink="/disciplina/{{disciplina.id}}"><p>{{disciplina.nome}}</p></a>
        </li>
    </ul>
</div>