/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    font-family: 'inter', sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
.sem-cor {
    color: inherit; /* ou 'initial' ou 'unset' */
    text-decoration: none; /* para remover o sublinhado, se necessário */
}